# gradle

.gradle/
build/
out/
classes/
logs/
crash-reports/
caches/
*.class
*.jar
*.log

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
